.transaction_history {
  margin: 10px auto  40px;
  
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  border-bottom-right-radius: 2%;
  border-bottom-left-radius: 2%;
  max-width: 900px;
  
}

th {
  width: 300px;
  height: 30px;
  background-color: cadetblue;
  font-weight: bold;
 
}

td {
  text-align: center;
  height: 30px;
  font-weight: 400;
}